################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/Framework_API_Automation
*.xml
node_modules
bin
obj
dist
artifacts